<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.refactory.androidmaterial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidMaterial">
        <activity
            android:name=".day22.views.TwentyTwoActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".day21.views.TwentyOneActivity" />
        <activity android:name=".day19.views.activities.NineteenActivity" />
        <activity android:name=".day18.views.EighteenActivity" />
        <activity android:name=".day17.views.SeventeenActivity" />
        <activity android:name=".day15.FifteenActivity" />
        <activity android:name=".day14.FourteenActivity" />
        <activity android:name=".day13.ThirteenActivity" />
        <activity android:name=".day12.TwelveActivity" />
        <activity android:name=".day11.ElevenActivity" />
        <activity android:name=".day10.TenActivity" />
        <activity
            android:name=".day9.TodoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".day9.NineActivity" />
        <activity android:name=".day8.views.EightActivity" />
        <activity android:name=".day7.SevenActivity" />
        <activity android:name=".day6.SecondActivity" />
        <activity android:name=".day6.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>